/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* COLORS
watermelon: #F16251;
dark gray/brown: #202020;
dark green/gray:#4F4F3C
light gray:#fafaf6;
*/

/* General */
	html { width:100%; height:100%; }
	body { background:#FFFFFF; padding:0; margin:0; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; color:#676F78;}
	
/* Typography */

	h1, h2, h3, h4, h5, h6 { font-weight:bold; }
	h1 { font-size: 40px; letter-spacing: 2px; }
	h2 { font-size: 32px; letter-spacing: 2px; }
	h3 { font-size: 32px; }
	h4 { font-size: 24px; }
	h5 { font-size: 18px; }
	h6 { font-size: 16px; }
	p { font-size:1em; margin-bottom:24px; line-height:1.5em; }
	
	a { color: #676F78; text-decoration: none; }
	a:hover { text-decoration: underline; }

	
/* Layout */	
	#user_wrapper, #banner, #wrapper{
		width:75%; min-width: 750px;
		margin: 0 auto; margin-top: 5px;
		color: #676F78;
	}
	#user_wrapper{
		height: 15px;
		text-align: right;
	}
	#banner{
		height: 65px;
		background-color: transparent;
		border-bottom: 1px solid #676F78;
		overflow:hidden;
	}
	#wrapper{ 
		margin-top: 15px;
		background-color:#FFFFFF; 
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius:15px;}
	#main-content{
		display:block;
		padding: 10px 10px 10px 10px;
		z-index:10;
		color: #202020;
	}
	
/* Header styles*/
	#logo {float:left; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:48px; letter-spacing: 1px; color: #676F78; background-color:transparent; text-transform:uppercase;}
	
	#primary{
		float: right;
		background-color:transparent;
		margin-top: 30px;
		letter-spacing: 1px;
	}
	#primary ul li {
		display: inline;
		margin-left: 35px;
	}
	
	#primary li a {
		background: #fafaf6;
		padding: 5px 9px 0 9px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px; 
	}
	
	#primary li a:hover {
		background: #F16251;
		color:#fafaf6;
		text-decoration: none;
	}
	#primary li a:active {
		background: #f48375;
		text-decoration: none;
	}
		
/* for clearing */
	.group:before, .group:after{
		content: "";
		display: table;
	}
	.group:after{
		clear: both;
	}
	.group {
		zoom: 1; /*IE6&7*/
	}