/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* COLORS
watermelon: #F16251;
dark gray/brown: #202020;
light gray:#fafaf6;
*/

/* General */
	html { width:100%; height:100%; }
	body { background:#FFFFFF; padding:0; margin:0; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; color:#252525;}
	
/* Typography */
	@font-face { 	/* For IE */
		font-family: 'BlackoutMidnight';
		src: url('Blackout-Midnight-webfont.eot');
	}
	@font-face{	/* For other browsers */
		font-family: 'BlackoutMidnight';
		src: url (//:) format ('no404'),
			 url('Blackout-Midnight-webfont.eot?#iefix') format('embedded-opentype'),
			 url('Blackout-Midnight-webfont.woff') format('woff'),
			 url('Blackout-Midnight-webfont.ttf') format('truetype'),
			 url('Blackout-Midnight-webfont.svg#BlackoutMidnight') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	h1, h2, h3, h4, h5, h6 { font-weight:bold; }
	h1 { font-size: 40px; letter-spacing: -2px; }
	h2 { font-size: 32px; letter-spacing: -2px; }
	h3 { font-size: 32px; }
	h4 { font-size: 24px; }
	h5 { font-size: 18px; }
	h6 { font-size: 16px; }
	p { font-size:1em; margin-bottom:24px; line-height:1.5em; }
	
	
/* Layout */	
	#user_wrapper, #banner, #wrapper{
		width:80%; min-width: 600px;
		margin: 0 auto; margin-top: 5px;
		color: #202020;
	}
	#user_wrapper{
		height: 15px;
		text-align: right;
	}
	#banner{
		height: 65px;
		background-color: transparent;
		border-bottom: 1px solid #202020;
		overflow:hidden;
	}
	#wrapper{ 
		margin-top: 15px;
		background-color:#FFFFFF; 
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius:15px;}
	#main-content{
		display:block;
		padding: 10px 10px 10px 10px;
		z-index:10;
	}
	
/* Header styles*/
	#logo {float:left; font-size: 48px; color: #241404; background-color:transparent; text-transform:uppercase;}
	
	#primary{
		position:relative;
		left:150px;
		background-color:transparent;
		padding-top: 30px;
		letter-spacing: 1px;
	}
	#primary ul li{
		display: inline;
		padding-left:30px;
	}
	#primary li a:hover {
		padding: 5px 15px;
		color:#fafaf6;
		background: #F16251;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
	}
		
		
/* for clearing */
	.group:before, .group:after{
		content: "";
		display: table;
	}
	.group:after{
		clear: both;
	}
	.group {
		zoom: 1; /*IE6&7*/
	}