/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

$cyan: #3774C2;
$darkGray: #676767;
$lightGray: #b9b9b9;
$pageWidth: 1000px;

/* General */
* {
  margin: 0px;
  padding: 0px;
}

html {
  width:100%;
  height:100%;
}

body {
  background:#FFFFFF;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#676F78;
}

/* Typography */
h1, h2, h3, h4, h5, h6 { font-weight:bold; }
h1 { font-size: 40px; letter-spacing: 2px; }
h2 { font-size: 32px; letter-spacing: 2px; }
h3 { font-size: 32px; }
h4 { font-size: 24px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

p {
  font-size:1em;
  margin-bottom:24px;
  line-height:1.5em;
}

a {
  color: $darkGray;
  text-decoration: none;

  &:hover {
    color: $lightGray;
  }
}

/* Layout */

#header {
  #banner {
    color: #FFFFFF;
    background-color: #000000;
    #bannerContents {
      width: $pageWidth;
      margin: auto;

      #userWrapper {
        height: 20px;
        padding-top: 5px;
        text-align: right;
        text-transform: uppercase;
        font-size: 0.8em;

        .username { color: $cyan; }
      }
    }
  }

  #headerContents {
    width: $pageWidth;
    margin: auto;

    #logo {
      font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size:48px;
      color: $darkGray;
      background-color: transparent;
      text-transform: uppercase;
    }

    nav {
      border-bottom: 1px solid #676F78;
      list-style-type: none;

      li { display: inline; }
    }
  }
}

#main {
  width: $pageWidth;
  margin: auto;

}

/* general box */
.box, .project_list {
  border: 1px solid #676F78;
  margin: 5px 5px 5px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* project box */
.project_list {
  display: inline;
  float: left;
  margin: 10px 10px 10px 10px;
  width: 200px;
  height: 300px;
  padding: 5px 5px 5px 5px;
  overflow:hidden;

  &:first-child { margin-left: 0px; }
}

.project_thumbnail {
  display: block;
  margin-bottom: 5px;
}


/* Ad#Show */
.show_image {
  float: left;
  margin: 0 10px 10px 0;
}

