/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

/* Global constants available in all stylesheets. */
$pageWidth: 1000px;
$darkGray: #676767;
$lightGray: #E0E0E0;
$cyan: #3774C2;
$magenta: #C237BA;
$orange: #C28437;
$green: #2FA936;

@import "bourbon";
@import "home";

/* General */
* {
  margin: 0px;
  padding: 0px;
}

html {
  width:100%;
  height:100%;
}

body {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#676F78;
}

/* Typography */
h1, h2, h3, h4, h5, h6 { font-weight:bold; }
h1 { font-size: 40px; letter-spacing: 2px; }
h2 { font-size: 32px; letter-spacing: 2px; }
h3 { font-size: 32px; }
h4 { font-size: 24px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

p {
  font-size:1em;
  margin-bottom:10px;
  line-height: 1.5em;
}

a {
  color: $darkGray;
  text-decoration: none;

  &:hover {
    color: $lightGray;
  }
}

/* Layout */

#header {
  @include linear-gradient(top, #FFFFFF, $lightGray);

  #banner {
    color: #FFFFFF;
    background-color: #000000;
    #bannerContents {
      width: $pageWidth;
      margin: auto;

      #userWrapper {
        height: 15px;
        padding: 5px;
        text-align: right;
        text-transform: uppercase;
        font-size: 0.8em;

        .username { color: $cyan; }
      }
    }
  }

  #headerContents {
    width: $pageWidth;
    margin: auto;
    display: table;
    table-layout: fixed;

    #logo {
      display: table-cell;
      a {
        display: block;
        height: 64px;
        background: url(/assets/logo.png) -4px 4px no-repeat;
      }
    }

    nav {
      display: table-cell;
      vertical-align: top;
      list-style: none;

      ul {
        float: right;
      }

      li {
        $navBorder: #C7C7C7;
        display: inline-block;
        float: left;
        &:nth-of-type(1) { border-top: 5px solid $cyan; }
        &:nth-of-type(2) { border-top: 5px solid $orange; }

        &:nth-of-type(1) a { border-left: 1px solid $navBorder; }

        &.current { background-color: #FFFFFF; }

        a {
          display: inline-block;
          border-right: 1px solid $navBorder;
          padding: 20px;
          font-weight: bold;
        }
      }
    }
  }
}

#main {
  width: $pageWidth;
  margin: auto;
  padding-top: 30px;
}

.projectTitle {
  a {
    color: $cyan;
    font-size: 1.4em;
  }
}

.projectThumbnail {
  display: inline-block;
  margin-bottom: 5px;
}

.dollarAmount {
  color: $green;
  font-weight: bold;
}

/* Ad#Show */
.show_image {
  float: left;
  margin: 0 10px 10px 0;
}

